
.chart-container {
    height: 400px; /* Adjust the height as needed */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color:black;
}